#main-content, #events{
	width:auto;
	background-color: #FFF5EE;
	height:auto;
	margin-top: 50px;
}
div div div h3
{
	color:rgb(101,162,164);
	position: absolute;
	top: 50px;
	right: 455px;
	font-family: sans-serif;
	font-size: normal;
}
#connect
{
	position: absolute;
	top: 5px;
	left:180px;
	background-color: white;
}
 body
{
	width: 100%;
	padding: 0;
	margin:0;
	background-color: white;
}

div
{
	width: 100%;
}
div #text
{
	float:left;
}
#logo
{
	width:300px;
	height:px;
	position: absolute;
	top:15px;
	left:120px;
}
#banner
{
	width: 900px;
	height:400px;
	margin: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	letter-spacing: 20px;
	text-align: center;
	color: #00008B;
	position:absolute;
	left: 200px;
	top: 15px;
}
#main-content1
{
	top: 240px;
	position: relative;
	left: 30px;
	border: 5px solid black;
	border-radius: 10px;
	width: 30%;
	background-color:white;
}
#main-content2
{
	top: 10px;
	position: relative;
	left: 465px;
	border: 5px solid black;
	border-radius: 10px;
	width: 30%;
	background-color:white;
}
#main-content3
{
	top: -630px;
	position: relative;
	left: 900px;
	border: 5px solid black;
	border-radius: 10px;
	width: 30%;
	background-color:white;
}
#footer
{
	background-color:#686868 ;
	text-align: center;
	font-size: 12px;
	margin: 0px;
	padding-bottom:20px;
	font-family: "Times New Roman", Times, serif;
	line-height: 50px;
	height: 50px;
	width: 100%;
	color: white;
	letter-spacing: 3px;
	position: absolute;
	bottom: -790px;
}
#container
{
	width: 100%;
	height: 100%;
	margin: 0px; 
	padding:0px;
	text-align:center;
}
.wrap {
	position:relative;
	margin: auto;
	width:1200px;
}
#header
{
	width:100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu{
position: absolute;
top:170px;
left:0px;
border:none;
border:20px;
margin-top:20px;
padding-top:10px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
display: inline-block;
}
.menu ul{
background:black;
height:50px;
list-style:none;
margin:0;
padding:0;
display: inline-block;
}
.menu li{
float:center;
padding:0px 0px 0px 15px;
display: inline-block; 
}
.menu li a{
color:white;
display:inline-block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:left;
text-decoration:none;
}
.menu li a:hover{
background:#686868 ;
color:#FFFFFF;
font-weight: bold;
}
.menu ul li:hover a{
background:#686868 ;
color:#FFFFFF;
text-decoration:none;
}
.menu li ul{
display:none;
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
}
.menu li:hover ul{
display:block; 
background-color:#686868 ;
}
.menu li li {
display:inline-block;
float:none;
margin:0px;
padding:0px;
width:200px;
background:black;
}
.menu li:hover li a{
background:none;
}
.menu li ul a{
display:inline-block;
height:50px;
font-size:14px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
border:0px;
color:#ffffff;
text-decoration:none;
background:#686868 ;
}
.tab {
background:black;
height:50px;
list-style:none;
margin:0;
padding:0;
border-radius: 15px;

}


.bottomdiv 
{
	border: 5px solid black;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background-color:white;
	color:#585858;
	border-radius: 15px;
	padding:10px 40px 10px 40px;
	width: 900px;
	text-decoration: none;
	text-align: center;
	top: 900px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

